.heroBg {
  /* min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start; */
  /* flex-direction: column; */
  /* background-color: rgb(241, 241, 241); */
  background-position: center;
  background-size: cover;
}
.heroOverlay {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgba(35, 35, 35, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(31, 59, 135, 0.37); */
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--textMainWhite);
  /* margin-top: -10vh; */
}
.heroLeftContainer {
  width: 50%;
  margin: 0 1em 0 6em;
  position: relative;
  z-index: 1;
}
.heroTitle {
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 550;
}
.heroName {
  font-size: clamp(2rem, 3rem + 2vw, 5rem);
  position: relative;
  left: 4rem;
  /* font-family: 'Boska-Variable'; */
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.3);
}
.heroDesc {
  font-size: clamp(1rem, 2vw, 1.4rem);
  position: relative;
  left: 6rem;
  font-weight: 700;
  background: linear-gradient(to right, #a2d2ff, #ffafcc, #bde0fe, #cdb4db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  max-width: fit-content;
}
.heroP {
  font-size: clamp(0.8rem, 2vw, 1rem);
  position: relative;
  left: 6rem;
}
.heroImg {
  width: 18%;
  border-radius: 32% 68% 45% 55% / 57% 46% 54% 43%;
  border: 3px solid var(--textMainWhite);
  animation: heroImg 6s 1s infinite linear alternate;
}
@keyframes heroImg {
  0% {
    border-radius: 32% 68% 45% 55% / 57% 46% 54% 43%;
  }
  100% {
    border-radius: 70% 30% 67% 33% / 37% 72% 28% 63%;
  }
}
