.heroBg {
  background-position: center;
  background-size: cover;
}
.heroOverlay {
  min-height: 110vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgba(35, 35, 35, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba(31, 59, 135, 0.37); */
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--textMainWhite);
  /* margin-top: -10vh; */
}
.heroLeftContainer {
  width: 50%;
  margin: 0 1em 0 6em;
  position: relative;
  z-index: 1;
}
.heroTitle {
  font-size: clamp(0.6rem, 10vw, 1.2rem);
  font-weight: 550;
}
.heroName {
  font-size: clamp(1rem, 6vw, 4.5rem);
  position: relative;
  left: 4rem;
  /* font-family: 'Boska-Variable'; */
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.3);
}
.heroDesc {
  --bg-size: 200%;
  font-size: clamp(1rem, 5vw, 1.4rem);
  position: relative;
  left: 6rem;
  font-weight: 700;
  background: linear-gradient(to right, #a2d2ff, #ffafcc, #ca9be5, #a2d2ff) 0 0 /
    var(--bg-size) 120%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  /* animation: animateHeroDesc 5s infinite linear; */
  max-width: fit-content;
}
.heroP {
  font-size: clamp(1rem, 2vw, 1rem);
  position: relative;
  left: 6rem;
}
.heroImg {
  width: 18%;
  border-radius: 32% 68% 45% 55% / 57% 46% 54% 43%;
  border: 3px solid var(--textMainWhite);
}
@media (prefers-reduced-motion: no-preference) {
  .heroDesc {
    animation: animateHeroDesc 4s infinite linear;
  }
  @keyframes animateHeroDesc {
    to {
      background-position: var(--bg-size) 0;
    }
  }
  .heroImg {
    animation: heroImg 6s 1s infinite linear alternate;
  }
  @keyframes heroImg {
    0% {
      border-radius: 32% 68% 45% 55% / 57% 46% 54% 43%;
    }
    100% {
      border-radius: 70% 30% 67% 33% / 37% 72% 28% 63%;
    }
  }
}
@media (max-width: 1024px) {
  .heroLeftContainer {
    width: 50%;
    margin: 0 4em 0 2em;
  }
  .heroTitle {
    margin: 0 1em;
  }
  .heroName {
    /* position: relative; */
    left: 1em;
  }
  .heroDesc {
    /* position: relative; */
    left: 3em;
  }
  .heroP {
    position: static;
    margin: 0 4.5em;
  }
  .heroImg {
    width: 28%;
  }
}
@media (max-width: 768px) {
  .heroOverlay {
    flex-direction: column;
    justify-content: center;
  }
  .heroImg {
    width: 55%;
    margin: 2em 0;
  }
  .heroLeftContainer {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heroLeftContainer > * {
    position: static;
  }
  .heroDesc {
    position: static;
  }
  .heroP {
    margin: 1em 1em;
  }
}
@media (max-width: 375px) {
  .heroLeftContainer {
    width: 100%;
    margin: 0 0.5em;
  }
  .heroTitle {
    margin: 0 1em;
  }
  .heroName {
    /* position: relative; */
    left: 1em;
  }
  .heroDesc {
    /* position: relative; */
    left: 1em;
  }
  .heroImg {
    width: 75%;
  }
}
