section {
  margin: 0 2em;
  color: var(--textMainBlack);
  height: 100%;
}
/* .mainHeaders {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
} */
.mainH2 {
  font-size: clamp(1rem, 9vw, 2.25rem);
  text-align: center;
  font-weight: 800;
  z-index: 1;
  margin-bottom: 0.75em;
  margin-top: 2em;
}
.firstH2 {
  margin-top: 3em;
}
.articleFlex {
  display: flex;
  justify-content: center;
}
article {
  padding: 2em 2em;
  width: 35%;
  border: 2px solid var(--textMainBlack);
  border-width: 3px 1.5px;
}
.mainH3 {
  margin: 0.5em 0 0.8em 0;
}
.mainBadgeContainer {
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.badge {
  width: 19%;
}
.mainGrid {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  /* grid-template-areas: 'a a a a'; */
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin: 0 8em;
}
.mainH4 {
  font-size: 1.2rem;
}
.mainGridItem {
  font-size: clamp(3rem, 6vw, 4rem);
  padding: 1em 1em 0 1em;
}
.mainProjectSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2em;
}
.mainProjectArticle {
  margin: 1em 0;
  width: 55%;
}
.icons {
  position: relative;
  top: 2px;
}
.projectDesc {
  margin: 1em 0;
}
.projectInfo {
  justify-content: space-between;
  overflow: visible;
}
.projectSlideContainer {
  width: 100%;
  height: 100%;
}
.blob {
  background-color: white;
  height: 250px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--accentGradient);
  z-index: -2;
  filter: blur(30px);
  animation: rotate 5s infinite linear;
}
@media (prefers-reduced-motion: no-preference) {
  @keyframes rotate {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
      transform-origin: center;
    }
    50% {
      transform: translate(-50%, -50%) rotate(180deg) scaleX(1.2) scaleY(0.85);
      transform-origin: center;
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
      transform-origin: center;
    }
  }
  .hidden {
    opacity: 0;
    filter: blur(1px);
    transform: translateX(-100%);
    transition: all 1.2s 0.5s ease-in-out;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@media (max-width: 1024px) {
  section {
    margin: 0 1em;
  }
  article {
    padding: 2em 1em;
    width: 100%;
  }
  .mainGrid {
    margin: 0 2em;
  }
  .mainProjectArticle {
    margin: 1em 0.5em;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .articleFlex {
    flex-direction: column;
    margin: 2em;
  }
  .mainGrid {
    grid-auto-flow: row;
    grid-template-areas: 'a a';
    margin: 0 0.7em;
  }
  .mainGridItem {
    padding: 0.5em 0.2em 0 0.2em;
  }
}
@media (max-width: 375px) {
  .mainProjectSection {
    margin: 0 0.5em;
  }
  article {
    padding: 2em 0.5em;
    width: 100%;
  }
}
