.slider {
  position: relative;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rightArrow {
  position: absolute;
  top: 50%;
  right: 20px;

  z-index: 2;
  cursor: pointer;
  user-select: none;
}
.leftArrow {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 2;
  cursor: pointer;
  user-select: none;
}
.arrow {
  transition: all 0.25s ease;
  color: var(--textMainWhite);
  opacity: 0.2;
  background-color: var(--textMainBlack);
  font-size: clamp(2rem, 5vw, 3rem);
}
.arrow:hover {
  opacity: 1;
}
.slide {
  opacity: 0.8;
  transition-duration: 0.5s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 0.5s;
}
